.contact_form {
  position: absolute;
  svg {
    height: 50px;
    width: 50px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  a {
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }

  span {
    width: 100%;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  h2 {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 50px;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #a2aab0;
  }

  textarea {
    height: 100px;
  }

  button {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
  }
}

@media only screen and (min-width: 480px) {
  .contact_form {
    width: 80vw;
    max-width: 1000px;
    margin: auto;
  }
}
