.contact_form {
  input,
  textarea {
    display: flex;
    background: none;
    margin: auto;
    width: calc(100vw - 40px);
    border: none;
    border-bottom: 1px solid var(--dark-color);
    margin-bottom: 40px;
    border-radius: 0;
  }

  .input_wrapper {
    position: relative;
  }

  label {
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0.6;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--dark-color);
    opacity: 1;
  }

  .sendButton {
    border: none;
    width: fit-content;
    padding: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 480px) {
  .contact_form {
    input,
    textarea {
      width: 80vw;

      max-width: 100;
    }

    label {
      left: 10vw;
    }
  }
}
