header {
  background: white;
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 100;
  justify-content: center;

  a {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 0.8em;
    margin: 0 40px;

    svg {
      width: 100%;
    }
  }
}

.contact-button {
  position: fixed;
  width: auto;
  padding: 15px;
  border-radius: 100px;
  top: 10px;
  right: 10px;
  background: white;
  line-height: 0;
  box-shadow: #f0f0f1 0px 0px 3px 1px;
}

.close-button {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  top: 20px;
  right: 20px;
  line-height: 0;
  z-index: 101;
}

.menu {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: var(--light-color);
  right: -100vw;
  z-index: 0;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(1, 0.2, 0.2, 1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.menu_slide {
  right: 0vw;
}

.open_menu {
  a {
    opacity: 1;
  }
  a:nth-child(1) {
    margin-top: auto;
    transform: translate(0, 0);
  }

  a:nth-child(2) {
    transform: translate(0, 0);
  }

  a:nth-child(3) {
    transform: translate(0, 0);
  }
}
