:root {
  --primary-font: merriweather;
  --secondary-font: montserrat;
  --light-color: #ebeced;
  --semi-dark: #a2aab0;
  --dark-color: #3e3e3b;
  --link-color: #266dd3;
  --link-active-color: #1a4b91;
}

svg {
  fill: var(--dark-color);
}
// main-font

// main-bg-color

// main-color
